@{
    ViewBag.Title = "Recipes.ca";
    ViewBag.Header = "Recipes.ca";
}
<p><h3>Welcome To Recipes.ca</h3></p>
<p>Here you will find all of your recipe needs.</p>
    <p>
    Including but not limited to
        <ul>
            <li>
                Recipe names
            </li>
            <li>
                Brief description
            </li>
            <li>
                Ingredients
            </li>
            <li>
                Detailed instruction
            </li>
        </ul>
    </p>