/**/
html{
	background-image: url("progress.jpg");/*Refrence for image: https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi98-2bpYXhAhVC9IMKHVslCRQQjRx6BAgBEAU&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D2ahUKEwi98-2bpYXhAhVC9IMKHVslCRQQjRx6BAgBEAU%26url%3D%252Furl%253Fsa%253Di%2526source%253Dimages%2526cd%253D%2526ved%253D2ahUKEwi98-2bpYXhAhVC9IMKHVslCRQQjRx6BAgBEAU%2526url%253D%25252Furl%25253Fsa%25253Di%252526source%25253Dimages%252526cd%25253D%252526cad%25253Drja%252526uact%25253D8%252526ved%25253D2ahUKEwi98-2bpYXhAhVC9IMKHVslCRQQjRx6BAgBEAU%252526url%25253Dhttp%2525253A%2525252F%2525252Fwww.youvisit.com%2525252Ftour%2525252Fcentennial%252526psig%25253DAOvVaw3UM8-RVEeeHhSN044ovh3B%252526ust%25253D1552778605725001%2526psig%253DAOvVaw3UM8-RVEeeHhSN044ovh3B%2526ust%253D1552778605725001%26psig%3DAOvVaw3UM8-RVEeeHhSN044ovh3B%26ust%3D1552778605725001&psig=AOvVaw3UM8-RVEeeHhSN044ovh3B&ust=1552778605725001*/
}
body{
	font-size:18px;
	background-color:#E8E4E4;
	color:black;
	width:825px;
	height:825px;
	margin-left:auto;
	margin-right:auto;
	padding:10px
}
form{
	background-color:#E8E4E4;
	width:98%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	font-size:17px;
}
.red{
	color:red;
}
.column {
	float: left;
	width: 45%;
	margin-left:20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
input{
	width:80%
}
select{
	width:80%;
}
input[type=submit]{
	width: 9em;
}
p.errorMsg {
   display: none;
   color: red;
   text-align: center;
}
.result {
	width:60%;
	height:25%;

}
.imageCent{
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.cent {
	text-align: center;
}